
@{
    ViewData["Title"] = "Information";
}

<h2 class="p-3 mb-2 bg-info text-white">Information</h2>
<br />
<h4 class="p-3 mb-2 bg-success text-white">@ViewBag.nameoutput <i class="fas fa-hands-wash"></i></h4>
<br />
<h5>Så här fungerar webbplatsen!</h5>
<br />
<ol>
    <li>
        Ange ditt <mark>namn</mark>.
    </li>
    <li>
       Fyll i uppgifterna på din favoritspelare för <mark>FIFA21</mark>.
    </li>
    <li>
        <mark>Klart!</mark>
    </li>
</ol>

<a href="https://sofifa.com/" class="btn btn-info" target="_blank">Gå till SoFIFA <i class="fas fa-external-link-square-alt"></i></a>
<br />
<br />
<img class="card-img" src="~/images/Sofifa.png" alt="Card image" />
